extends ../layout/index
block charts
    // Begin Page Content
    .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-2.text-gray-800 Gráficas
            a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
                i.fas.fa-download.fa-sm.text-white-50
                |  Generar reporte
        // Content Row
        .row
            .col-xl-8.col-lg-7
                // Area Chart
                .card.shadow.mb-4
                    .card-header.py-3
                        h6.m-0.font-weight-bold.text-primary Area Chart
                    .card-body
                        .chart-area
                            canvas#myAreaChart
                        hr
                        |                   Styling for the area chart can be found in the 
                        code /js/demo/chart-area-demo.js
                        |  file.
                // Bar Chart
                .card.shadow.mb-4
                    .card-header.py-3
                        h6.m-0.font-weight-bold.text-primary Bar Chart
                    .card-body
                        .chart-bar
                            canvas#myBarChart
                        hr
                        |                   Styling for the bar chart can be found in the 
                        code /js/demo/chart-bar-demo.js
                        |  file.
            // Donut Chart
            .col-xl-4.col-lg-5
                .card.shadow.mb-4
                    // Card Header - Dropdown
                    .card-header.py-3
                        h6.m-0.font-weight-bold.text-primary Donut Chart
                    // Card Body
                    .card-body
                        .chart-pie.pt-4
                            canvas#myPieChart
                        hr
                        |                   Styling for the donut chart can be found in the 
                        code /js/demo/chart-pie-demo.js
                        |  file.
    // /.container-fluid
