doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Complemento para Tesis')
    meta(name='author', content='Aldo Aram Martinez Mireles')
    link(rel="shortcut icon", href="../../../img/ternium-logo.png", type="image/x-icon")
    title= (nombrePagina)
    // Custom fonts for this template
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    // Custom styles for this template
    link(href='/css/sb-admin-2.min.css', rel='stylesheet')
    link(href='/css/general.css', rel='stylesheet')
    //- script(src="https://code.jquery.com/jquery-1.10.2.js")
  body#page-top
    // Page Wrapper
    #wrapper
        include includes/sidebar
        // Content Wrapper
        #content-wrapper.d-flex.flex-column
            // Main Content
            #content
                include includes/header
                block index
                block noForm
                block rendimiento
                block registroHistorico
                block tables
                block lp
                block registroCuenta
            include includes/footer
    // End of Page Wrapper
    // Scroll to Top Button
    a.scroll-to-top.rounded(href='#page-top')
        i.fas.fa-angle-up
    // Logout Modal
    #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title ¿Estás seguro de cerrar sesión?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body Selecciona "Cerrar sesión" si estas seguro de terminar tu sesión actual.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    a.btn.btn-primary(href='/login') Cerrar sesión
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Core plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    // Custom scripts for all pages
    script(src='js/sb-admin-2.min.js')
    // Page level plugins
    //- script(src='vendor/chart.js/Chart.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="js/utils.js")
    
    // Custom scripts for datatable
    script(src="vendor/datatables/jquery.dataTables.min.js")
    script(src='vendor/datatables/dataTables.bootstrap4.min.js')
    script(src="js/Lamina.js")
    script(src="js/DatoDelDia.js")

    script(src="js/datosRendimiento.js")
    script(src="js/registroHistorico.js")

    script(src="js/lineChart.js")
    script(src="js/barChart.js")

    script(src="js/general.js")