extends ../layout/index
block lp
    .container-fluid
        .d-sm-flex.align-items-center.justify-content-between.mb-4
                h1.h3.mb-0.text-gray-800 Lineas de producción
        .row
            .col-lg-4.offset-lg-1
                .card.shadow.mb-4
                    // Card Header - Dropdown
                    .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                        h6.m-0.font-weight-bold.text-primary Agregar linea de producción
                    // Card Body
                    .card-body
                        form.user(action='/agregarLinea', method="POST")
                            .form-group
                                input#exampleInputEmail.form-control.form-control-user(type='text', placeholder='Nombre', name="nombre", required)
                            .form-group.text-center
                                button.btn.btn-success.btn-icon-split(type="submit", value="Agregar linea de producción")
                                    span.icon.text-white-50
                                        i.fas.fa-check
                                    span.text Agregar linea de producción
                        .col-lg-12
                            if(errores)
                                each error in errores
                                    .card.bg-danger.text-white-shadow
                                        .card-body.erroresMS.text-center.text-white=error.mensaje
                            if(successMessage)
                                .card.bg-success.text-white-shadow
                                    .card-body.erroresMS.text-center.text-white=successMessage
            .col-lg-6
                .card.shadow.mb-4
                    // Card Header - Dropdown
                    .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                        h6.m-0.font-weight-bold.text-primary Lineas de producción existentes
                    // Card Body
                    .card-body
                        .table-responsive
                            table.table.table-bordered(width="70%", cellspacing="0")
                                thead
                                    tr
                                        td ID
                                        td Nombre
                                tbody
                                    if(lineas)
                                        each linea in lineas
                                            tr 
                                                td=linea.linea_id
                                                td=linea.nombre
        // - Ingreso de Datos -
        //- .row
            //- .col-lg-6.offset-lg-3
            //-     .card.shadow.mb-4
            //-         // Card Header - Dropdown
            //-         .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
            //-             h6.m-0.font-weight-bold.text-primary Agregar linea de producción
            //-         // Card Body
            //-         .card-body
            //-             form.user(action='/agregarLinea', method="POST")
            //-                 .form-group
            //-                     input#exampleInputEmail.form-control.form-control-user(type='text', placeholder='Nombre', name="nombre", required)
            //-                 .form-group.text-center
            //-                     button.btn.btn-success.btn-icon-split(type="submit", value="Agregar linea de producción")
            //-                         span.icon.text-white-50
            //-                             i.fas.fa-check
            //-                         span.text Agregar linea de producción
            //-             .col-lg-12
            //-                 if(errores)
            //-                     each error in errores
            //-                         .card.bg-danger.text-white-shadow
            //-                             .card-body.erroresMS.text-center.text-white=error.mensaje
            //-                 if(successMessage)
            //-                     .card.bg-success.text-white-shadow
            //-                         .card-body.erroresMS.text-center.text-white=successMessage
