extends ../layout/index
block rendimiento
    // Pasa el array de las laminas al javascript file
    script(type='text/javascript').                                                   
        var data = !{JSON.stringify(laminas)};
        var datosDelDia = !{JSON.stringify(datosDelDia)};
        var lineas_produccion = !{JSON.stringify(lineas_produccion)};
    // Begin Page Content
    .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-2.text-gray-800 Rendimiento
        // Content Row
        .row
            .col-xl-12.col-lg-10
                // Area Chart
                .card.shadow.mb-4
                    .card-header.py-3
                        h6.m-0.font-weight-bold.text-primary Indice real vs Indice calculado
                    .card-body
                        .row.justify-content-center.align-self-center
                            .col-xl-3.col-lg-4.mb-2.justify-content-center.align-self-center
                                p.text-center Linea de producción
                            .col-xl-3.col-lg-4.mb-2.justify-content-center.align-self-center
                                select#lineaProduccionS.form-control.form-control-user(name="linea_id", placeholder= "Linea", required)
                                    if(lineas_produccion)
                                        each linea in lineas_produccion
                                            option(value=linea.linea_id, class='lp')=linea.nombre
                        .chart-area
                            canvas#myAreaChart
                        hr
                        |Comparación del índice calculado contra el índice real.
