extends ../layout/index
block rendimiento
    // Pasa el array de las laminas al javascript file
    script(type='text/javascript').                                                   
        var data = !{JSON.stringify(laminas)};
        var datosDelDia = !{JSON.stringify(datosDelDia)};
    // Begin Page Content
    .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-2.text-gray-800 Rendimiento
        // Content Row
        .row
            .col-xl-12.col-lg-10
                // Area Chart
                .card.shadow.mb-4
                    .card-header.py-3
                        h6.m-0.font-weight-bold.text-primary Indice real vs Indice calculado
                    .card-body
                        .chart-area
                            canvas#myAreaChart
                        hr
                        |Comparación del índice calculado contra el índice real.
                
            // Donut Chart
            //- .col-xl-4.col-lg-5
            //-     .card.shadow.mb-4
            //-         // Card Header - Dropdown
            //-         .card-header.py-3
            //-             h6.m-0.font-weight-bold.text-primary Donut Chart
            //-         // Card Body
            //-         .card-body
            //-             .chart-pie.pt-4
            //-                 canvas#myPieChart
            //-             hr
            //-             |                   Styling for the donut chart can be found in the 
            //-             code /js/demo/chart-pie-demo.js
            //-             |  file.
    // /.container-fluid
